/* Eléments principaux de la page */

body
{
    background-color:rgb(239, 245, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bloc_page
{
    width: 100%;
    margin:auto;
}

p
{
    font-size: 1em;
    line-height: 1.4em;
    color:black;
}
/*Header*/
header
{
    background: url("images/reseau3.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
    width: 100%;
}

#titre_principal
{
    width: 100%;
    justify-content: center;
    color:white;
}

header h1
{
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}



/*Navigation*/

nav
{
    width: 100%;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li
{
    text-align: center;
    margin-right: 15px;
}

nav a 
{
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(136, 182, 250);
    border-bottom: 3px solid rgb(83, 149, 248);
}


/*body*/

section
{
    width: 85%;
    margin : 20px auto;
    margin-bottom: 20px;
    justify-content: center;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px #ccc;
}
section h2

{
    text-align: center;
    color: rgb(55,118,152);
    font-size: 28px;
}

.container
{
    display: flex;
    color: blue;
}

.container h3
{
    color:rgb(80,162,194);
    text-align: justify;
}

/* Section A propos */

#objectif
{
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
}


#coordonnees
{
    width: 40%;
}


#reseaux
{
    width: 20%;
    display: flex;
    flex-direction: column;
}

#reseaux img
{
    display: flex;
    flex-direction: row wrap;
    width: 50px;
    height: 50px;
    margin: 2px;
}


/*Section compétences */
#hardskills
{
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
}

#softskills
{
    display: flex;
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
}


.comp{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.comp p{
    flex: 0 0 100%;
}
.conteneur-barre{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}
.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c85{
    width: 85%;
    background-color: #50a2c2;
}
.c70{
    width: 70%;
    background-color: #50a2c2;
}
.c80{
    width: 80%;
    background-color: #50a2c2;
}
.c25{
    width: 25%;
    background-color: #50a2c2;
    border-radius: 5px;
}
.comp2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.conteneur-barre2{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}
/*Section outils */

.containter-desdeux
{
    display: flex;
    flex-direction: row wrap;
}

.container-outils
{
    display: flex; 
    flex-flow: row wrap;
}

.container-os
{
    display: flex;
    flex-flow: row wrap;
}

.outils-info{
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 20%;
    margin:2%;
    margin-bottom: 5px;
    align-items: center;
}

.outils-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
    text-decoration: none;
}


/*Section portfolios*/

.carousel-items 
{
    margin:3%;
    display: flex;
    padding: 1rem 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.carousel-item 
{
    width: 20%;
    flex: 1 0 400px;
    margin-left: 1rem;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;

}

.card-title
{
    color:rgb(80,162,194);
    text-align: center;
    height: 5%;
}

.carousel-item img{
    width: 100%;
    height: 50%;
}

.card-content 
{
    height: 35%;
}
.button
{
    background-color:#50a2c2 ;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}


::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}
/*Section formation et expériences*/

.container-experience
{
    display: flex;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom:10px;
    align-items: center;
}

.experience-logo
{
    flex: 0 0 10%;
    width: 15%;
    max-height: 120px;
    margin-left: 3%;
}

.experience-logo img
{
    width: 100%;
}
.experience-infos
{
    width: 35%;
    margin-left: 5%;
}

.experience-description
{
    width: 70%;
    margin-left: 5%;
}

.experience-infos h3
{
    font-size: 1.2em;
}
.experience-infos h4
{
    font-size: 1em;
    font-weight: normal;
}
/*Footer*/

footer
{
    display: flex;
    padding-top: 25px;
    background: url("images/reseau3.jpg");
    justify-content: center;
}

footer p 

{
    color: white;
}

